/* ==UserStyle==
@name         Nord Solid SearX simple
@version      20220419.07.08
@namespace    userstyles.world/user/rad1an
@description  Nord Solid SearX simple style

To work properly install simple dark theme in searx preferences

More photos at https://gitlab.com/57d/searx-nord-solid
@author       rad1an
@license      GNU Affero General Public License v3.0
==/UserStyle== */
@-moz-document url-prefix("https://searx.bar/search"),
url-prefix("https://northboot.xyz/search"),
url-prefix("https://searx.silkky.cloud/search"),
url-prefix("https://searx.bissisoft.com/search"),
url-prefix("https://searx.webheberg.info/search"),
url-prefix("https://searx.tux.land/search"),
url-prefix("https://search.mdosch.de/search"),
url-prefix("https://searx.nevrlands.de/search"),
url-prefix("https://searx.divided-by-zero.eu/search"),
url-prefix("https://searx.rasp.fr/search"),
url-prefix("https://searx.zackptg5.com/search"),
url-prefix("https://searx.info/search"),
url-prefix("https://metasearch.nl/search"),
url-prefix("https://www.gruble.de/search"),
url-prefix("https://searx.xyz/search"),
url-prefix("https://procurx.pt/search"),
url-prefix("https://searx.hummel-web.at/search"),
url-prefix("https://start.paulgo.io/search"),
url-prefix("https://searx.be/search"),
url-prefix("https://searx.tiekoetter.com/search"),
url-prefix("https://anon.sx/search"),
url-prefix("https://sx.fedi.tech/searx/search"),
url-prefix("https://searx.fmac.xyz/search"),
url-prefix("https://s.zhaocloud.net/search"),
url-prefix("https://swag.pw/search"),
url-prefix("https://searx.prvcy.eu/search"),
url-prefix("https://searx.tuxcloud.net/search"),
url-prefix("https://xeek.com/search"),
url-prefix("https://searx.sp-codes.de/search"),
url-prefix("https://search.bluelock.org/search"),
url-prefix("https://searx.mha.fi/search"),
url-prefix("https://searx.sunless.cloud/search"),
url-prefix("https://search.snopyta.org/search"),
url-prefix("https://searx.roflcopter.fr/search"),
url-prefix("https://searx.zecircle.xyz/search"),
url-prefix("https://searx.mastodontech.de/search"),
url-prefix("https://searx.dresden.network/search"),
url-prefix("https://searx.netzspielplatz.de/search"),
url-prefix("https://darmarit.org/searx/search"),
url-prefix("https://searx.vitanetworks.link/search"),
url-prefix("https://searx.solusar.de/search"),
url-prefix("https://recherche.catmargue.org/search"),
url-prefix("https://searx.devol.it/search"),
url-prefix("https://searx.run/search"),
url-prefix("https://searx.nakhan.net/search"),
url-prefix("https://searx.sk/search"),
url-prefix("https://searx.gnu.style/search"),
url-prefix("https://searx.openhoofd.nl/search"),
url-prefix("https://searx.tk/search"),
url-prefix("https://searx.lelux.fi/search"),
url-prefix("https://haku.lelux.fi/search"),
url-prefix("https://suche.dasnetzundich.de/search"),
url-prefix("https://searx.mxchange.org/search"),
url-prefix("https://search.antonkling.se/search"),
url-prefix("https://search.jpope.org/search"),
url-prefix("https://search.ethibox.fr/search"),
url-prefix("https://searx.org/search"),
url-prefix("https://timdor.noip.me/searx/search"),
url-prefix("https://searx.monicz.pl/search"),
url-prefix("https://searx.xkek.net/search"),
url-prefix("https://searx.ru/search"),
url-prefix("https://searx.nixnet.services/search"),
url-prefix("https://search.zdechov.net/search"),
url-prefix("https://searx.tyil.nl/search"),
url-prefix("https://www.searxs.eu/search"),
url-prefix("https://searx.ninja/search"),
url-prefix("https://searx.everdot.org/search"),
url-prefix("https://search.st8.at/search"),
url-prefix("https://searx.hardwired.link/search"),
url-prefix("https://searx.thegreenwebfoundation.org/search"),
url-prefix("https://searx.slash-dev.de/search"),
url-prefix("https://search.jigsaw-security.com/search"),
url-prefix("https://www.perfectpixel.de/searx/search"),
url-prefix("https://paulgo.io/search") {
    *,
    *:hover,
    html,
    html:hover {
        color: #e5e9f0;
        background-color: #2e3440 !important;
        /* background */
        line-height: 1.4;
        /* increase line spacing in the info box to fix letters like gpqyj being visible not in full */

    }
	
	.search_box {
		border: none !important;
		/* remove border for search box*/
	}

    .search_box * {
        background-color: #434c5e !important;
        /* search box background */
    }

    .search_box:focus-within,
    .search_box:hover {
        box-shadow: none;
        /* disable search box shadow */
    }

    .autocomplete > ul > li.active,
    .autocomplete > ul > li:active,
    .autocomplete > ul > li:focus,
    .autocomplete > ul > li:hover {
        background-color: #3b4252 !important;
        /* autocomplete menu cursor highlight select */
    }

    .autocomplete.open {
        box-shadow: none;
        /* disable autocomplete menu shadow */
		border: none !important;
		/* remove border for search autocomplete*/
    }

    #sidebar * {
        background-color: #2e3440 !important;
		border: none !important;
        /* change background of the infobox to the lighter one */
    }

    #suggestions {
        display: none;
        /* disable suggestions */
    }

    /* make backToTop button lighter and round */
    #backToTop {
        padding: 3px;
        border-radius: 18px;
        border-width: 2px;
        border-color: #3b4252;
        background-color: #3b4252 !important;
    }
    #backToTop * {
        background-color: #3b4252 !important;
    }

    #results button[type="submit"],
    input[type="submit"] {
        color: #e5e9f0;
        /* fixing some buttons having black text */
    }

    .highlight {
        color: inherit !important;
        /* remove keywords becoming gray when hovering */
    }
    
    .leaflet-control-container a, .leaflet-top .leaflet-control-layers {
        background-color: #68ac !important;
        /* add background to map buttons */
    }
    
    .leaflet-control-container *, .leaflet-control-attribution a, .leaflet-pane * {
        background-color: #5550 !important;
        color: #2e3440;
        /* remove background from maps, so that they are visible; make text black */
    }
    
    .leaflet-control-attribution a {
        color: #5e81ac;
        /* make links text on maps blue */
    }
}

@-moz-document url("https://searx.bar/"),
url("https://northboot.xyz/"),
url("https://searx.silkky.cloud/"),
url("https://searx.bissisoft.com/"),
url("https://searx.webheberg.info/"),
url("https://searx.tux.land/"),
url("https://search.mdosch.de/"),
url("https://searx.nevrlands.de/"),
url("https://searx.divided-by-zero.eu/"),
url("https://searx.rasp.fr/"),
url("https://searx.zackptg5.com/"),
url("https://searx.info/"),
url("https://metasearch.nl/"),
url("https://www.gruble.de/"),
url("https://searx.xyz/"),
url("https://procurx.pt/"),
url("https://searx.hummel-web.at/"),
url("https://start.paulgo.io/"),
url("https://searx.be/"),
url("https://searx.tiekoetter.com/"),
url("https://anon.sx/"),
url("https://sx.fedi.tech/"),
url("https://searx.fmac.xyz/"),
url("https://s.zhaocloud.net/"),
url("https://swag.pw/"),
url("https://searx.prvcy.eu/"),
url("https://searx.tuxcloud.net/"),
url("https://xeek.com/"),
url("https://searx.sp-codes.de/"),
url("https://search.bluelock.org/"),
url("https://searx.mha.fi/"),
url("https://searx.sunless.cloud/"),
url("https://search.snopyta.org/"),
url("https://searx.roflcopter.fr/"),
url("https://searx.zecircle.xyz/"),
url("https://searx.mastodontech.de/"),
url("https://searx.dresden.network/"),
url("https://searx.netzspielplatz.de/"),
url("https://darmarit.org/searx/"),
url("https://searx.vitanetworks.link/"),
url("https://searx.solusar.de/"),
url("https://recherche.catmargue.org/"),
url("https://searx.devol.it/"),
url("https://searx.run/"),
url("https://searx.nakhan.net/"),
url("https://searx.sk/"),
url("https://searx.gnu.style/"),
url("https://searx.openhoofd.nl/"),
url("https://searx.tk/"),
url("https://searx.lelux.fi/"),
url("https://haku.lelux.fi/"),
url("https://suche.dasnetzundich.de/"),
url("https://searx.mxchange.org/"),
url("https://search.antonkling.se/"),
url("https://search.jpope.org/"),
url("https://search.ethibox.fr/"),
url("https://searx.org/"),
url("https://timdor.noip.me/searx/"),
url("https://searx.monicz.pl/"),
url("https://searx.xkek.net/"),
url("https://searx.ru/"),
url("https://searx.nixnet.services/"),
url("https://search.zdechov.net/"),
url("https://searx.tyil.nl/"),
url("https://www.searxs.eu/"),
url("https://searx.ninja/"),
url("https://searx.everdot.org/"),
url("https://search.st8.at/"),
url("https://searx.hardwired.link/"),
url("https://searx.thegreenwebfoundation.org/"),
url("https://searx.slash-dev.de/"),
url("https://search.jigsaw-security.com/"),
url("https://www.perfectpixel.de/searx/"),
url("https://paulgo.io/") {
    *,
    *:hover,
    html,
    html:hover {
        color: #e5e9f0;
        background-color: #2e3440 !important;
        /* background */
        line-height: 1.4;
        /* increase line spacing in the info box to fix letters like gpqyj being visible not in full */
    }

	.search_box {
		border: none !important;
		/* remove border for search box */
	}
	
    .search_box * {
        background-color: #434c5e !important;
        /* search box background */
    }

    .search_box:focus-within,
    .search_box:hover {
        box-shadow: none;
        /* disable search box shadow */
    }

    .autocomplete > ul > li.active,
    .autocomplete > ul > li:active,
    .autocomplete > ul > li:focus,
    .autocomplete > ul > li:hover {
        background-color: #3b4252 !important;
        /* autocomplete menu cursor highlight select */
    }

    .autocomplete.open {
        box-shadow: none;
        /* disable autocomplete menu shadow */
    }
}

@-moz-document url-prefix("https://searx.bar/preferences"),
url-prefix("https://northboot.xyz/preferences"),
url-prefix("https://searx.silkky.cloud/preferences"),
url-prefix("https://searx.bissisoft.com/preferences"),
url-prefix("https://searx.webheberg.info/preferences"),
url-prefix("https://searx.tux.land/preferences"),
url-prefix("https://search.mdosch.de/preferences"),
url-prefix("https://searx.nevrlands.de/preferences"),
url-prefix("https://searx.divided-by-zero.eu/preferences"),
url-prefix("https://searx.rasp.fr/preferences"),
url-prefix("https://searx.zackptg5.com/preferences"),
url-prefix("https://searx.info/preferences"),
url-prefix("https://metasearch.nl/preferences"),
url-prefix("https://www.gruble.de/preferences"),
url-prefix("https://searx.xyz/preferences"),
url-prefix("https://procurx.pt/preferences"),
url-prefix("https://searx.hummel-web.at/preferences"),
url-prefix("https://start.paulgo.io/preferences"),
url-prefix("https://searx.be/preferences"),
url-prefix("https://searx.tiekoetter.com/preferences"),
url-prefix("https://anon.sx/preferences"),
url-prefix("https://sx.fedi.tech/searx/preferences"),
url-prefix("https://searx.fmac.xyz/preferences"),
url-prefix("https://s.zhaocloud.net/preferences"),
url-prefix("https://swag.pw/preferences"),
url-prefix("https://searx.prvcy.eu/preferences"),
url-prefix("https://searx.tuxcloud.net/preferences"),
url-prefix("https://xeek.com/preferences"),
url-prefix("https://searx.sp-codes.de/preferences"),
url-prefix("https://search.bluelock.org/preferences"),
url-prefix("https://searx.mha.fi/preferences"),
url-prefix("https://searx.sunless.cloud/preferences"),
url-prefix("https://search.snopyta.org/preferences"),
url-prefix("https://searx.roflcopter.fr/preferences"),
url-prefix("https://searx.zecircle.xyz/preferences"),
url-prefix("https://searx.mastodontech.de/preferences"),
url-prefix("https://searx.dresden.network/preferences"),
url-prefix("https://searx.netzspielplatz.de/preferences"),
url-prefix("https://darmarit.org/searx/preferences"),
url-prefix("https://searx.vitanetworks.link/preferences"),
url-prefix("https://searx.solusar.de/preferences"),
url-prefix("https://recherche.catmargue.org/preferences"),
url-prefix("https://searx.devol.it/preferences"),
url-prefix("https://searx.run/preferences"),
url-prefix("https://searx.nakhan.net/preferences"),
url-prefix("https://searx.sk/preferences"),
url-prefix("https://searx.gnu.style/preferences"),
url-prefix("https://searx.openhoofd.nl/preferences"),
url-prefix("https://searx.tk/preferences"),
url-prefix("https://searx.lelux.fi/preferences"),
url-prefix("https://haku.lelux.fi/preferences"),
url-prefix("https://suche.dasnetzundich.de/preferences"),
url-prefix("https://searx.mxchange.org/preferences"),
url-prefix("https://search.antonkling.se/preferences"),
url-prefix("https://search.jpope.org/preferences"),
url-prefix("https://search.ethibox.fr/preferences"),
url-prefix("https://searx.org/preferences"),
url-prefix("https://timdor.noip.me/searx/preferences"),
url-prefix("https://searx.monicz.pl/preferences"),
url-prefix("https://searx.xkek.net/preferences"),
url-prefix("https://searx.ru/preferences"),
url-prefix("https://searx.nixnet.services/preferences"),
url-prefix("https://search.zdechov.net/preferences"),
url-prefix("https://searx.tyil.nl/preferences"),
url-prefix("https://www.searxs.eu/preferences"),
url-prefix("https://searx.ninja/preferences"),
url-prefix("https://searx.everdot.org/preferences"),
url-prefix("https://search.st8.at/preferences"),
url-prefix("https://searx.hardwired.link/preferences"),
url-prefix("https://searx.thegreenwebfoundation.org/preferences"),
url-prefix("https://searx.slash-dev.de/preferences"),
url-prefix("https://search.jigsaw-security.com/preferences"),
url-prefix("https://www.perfectpixel.de/searx/preferences"),
url-prefix("https://paulgo.io/preferences") {
    *,
    *:hover,
    html,
    html:hover {
        color: #e5e9f0;
        background-color: #2e3440 !important;
        /* background */
        line-height: 1.4;
        /* increase line spacing in the info box to fix letters like gpqyj being visible not in full */
    }

    .search_box * {
        background-color: #434c5e !important;
        /* search box background */
    }

    .search_box:focus-within,
    .search_box:hover {
        box-shadow: none;
        /* disable search box shadow */
    }

    .autocomplete > ul > li.active,
    .autocomplete > ul > li:active,
    .autocomplete > ul > li:focus,
    .autocomplete > ul > li:hover {
        background-color: #3b4252 !important;
        /* autocomplete menu cursor highlight select */
    }

    .autocomplete.open {
        box-shadow: none;
        /* disable autocomplete menu shadow */
    }

    #results button[type="submit"],
    input[type="submit"],
    #main_preferences .preferences_back {
        color: #e5e9f0;
        /* fixing some buttons having black text */
    }

    .reversed-checkbox input.checkbox-onoff[type="checkbox"],
    input.checkbox-onoff[type="checkbox"]:checked {
        background: #434c5e !important;
        /* fixing color of reversed checkbox */
    }
}
